<!DOCTYPE html>
<html lang="en" class="home">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Welcome to GEO coder App</title>
</head>

<div class="container">
    <body>
    <script>
$(document).ready(function(){
    $('input[type=file]').change(function(){
        if($('input[type=file]').val()==''){
    	    $('button').attr('disabled',true)
        }
        else{
        $('button').attr('disabled',false);
        }
    });
});
    </script>
    <h2>
        GEO Coder App
    </h2>
    <p>Please upload your CSV file with Address value should be in column named as a Address or address</p>
    {%block content%}

    <form method="post" enctype="multipart/form-data">
        <input type="file" accept=".csv" name="file">
        <button type="submit" class="button" disabled>Upload File</button>
        <div class="table">
            {{ table| safe }}
        </div>
        <p>{{msg | safe }}</p>
    </form>

    <form action="/download" method="post">
        <button type="submit" name="Download">Download</button>
    </form>
    {%endblock%}
    </body>
</div>
</html>